// Цвета

$color-black: #000000;
$color-white: #ffffff;
$color-dark-gray: #6e6e6e;
$color-gray: #c8c8c8;
$color-light-gray: #f1f1f1;
$color-red: #d92c2c;
$color-green: #007e06;
$color-blue: #106da2;
$color-brown: #ae6d0c;
$color-granite: #444444;

// Медиа-запросы

$tel: 767px;
$tablet: 1199px;
