.comment {
  padding: 0;
  border: none;
}

.comment--warning .comment__field {
  border-color: $color-red;
}

.comment--warning .comment__counter {
  color: $color-red;
}

.comment__inner {
  display: block;
  width: 100%;
  height: 141px;
  margin-bottom: 4px;
}

.comment__field {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  border: 1px solid $color-gray;
  resize: none;
  outline: none;

  @include fontHelvetica(16px, 21px, $color-black);

  &::placeholder {
    @include fontHelvetica(16px, 21px, $color-dark-gray);
  }
}

.comment__text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;

  @include fontHelvetica(12px, 15px, $color-dark-gray);
}
