.form-legend {
  padding: 0;
  margin-bottom: 30px;

  @include fontHelvetica(28px, 30px, $color-black);

  @media (max-width: $tel) {
    margin-bottom: 24px;

    @include fontHelvetica(24px, 30px, $color-black);
  }
}
