.logo__link {
  display: flex;
  align-items: center;
  justify-content: center;

  &[href]:focus-visible {
    outline-offset: 2px;
    outline: 1px solid $color-black;
  }

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}
