.map {
  padding: 0;
  border: none;
}

.map__wrapper {
  width: 400px;
  height: 450px;

  @media (max-width: $tablet) {
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }

  @media (max-width: $tel) {
    width: 90vw;
    height: 220px;
    margin: 0;
  }
}
