.submit {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  padding: 30px 20px;
  border: 1px solid $color-dark-gray;

  @media (max-width: $tel) {
    row-gap: 12px;
    padding: 24px 16px;
  }
}

.submit__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-gray;

  &--discounts {
    row-gap: 8px;
    padding-bottom: 0;
    border-bottom: none;
  }

  @media (max-width: $tel) {
    row-gap: 12px;
    padding-bottom: 12px;
  }
}

.submit__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit__name {
  @include fontHelvetica(20px, 24px, $color-black);

  &--little {
    @include fontHelvetica(16px, 21px, $color-black);
  }

  @media (max-width: $tel) {
    @include fontHelvetica(16px, 21px, $color-black);

    &--little {
      @include fontHelvetica(12px, 15px, $color-black);
    }
  }
}

.submit__price {
  @include fontHelveticaBold(20px, 24px, $color-black);

  &--little {
    @include fontHelvetica(16px, 21px, $color-black);
  }

  @media (max-width: $tel) {
    @include fontHelveticaBold(16px, 21px, $color-black);

    &--little {
      @include fontHelvetica(12px, 15px, $color-black);
    }
  }
}

.submit__list--discounts .submit__price {
  color: $color-red;
}

.submit__checkbox {
  padding-bottom: 20px;
  border-bottom: 1px solid $color-gray;

  @media (max-width: $tel) {
    padding-bottom: 12px;
  }
}

.submit__label-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;

  @media (max-width: $tel) {
    margin-bottom: 0;
    padding: 5px 0;
  }
}

.submit__text-checkbox {
  @include fontHelvetica(20px, 24px, $color-black);

  @media (max-width: $tablet) {
    @include fontHelvetica(18px, 22px, $color-black);
  }

  @media (max-width: $tel) {
    @include fontHelvetica(16px, 21px, $color-black);
  }
}

.submit__mark {
  position: relative;
  display: block;
  width: 34px;
  height: 14px;
  background-color: $color-gray;
  border-radius: 10px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -11px;
    width: 22px;
    height: 22px;
    background-color: $color-dark-gray;
    border-radius: 50%;
    transition: 0.3s;
  }
}

.submit__input-checkbox:checked + .submit__mark {
  &::before {
    left: 23px;
    background-color: $color-black;
    transition: 0.3s;
  }
}

.submit__input-checkbox:focus-visible + .submit__mark {
  outline-offset: 2px;
  outline: 1px solid $color-black;
}

.submit__text {
  margin: 0;

  @include fontHelvetica(12px, 15px, $color-dark-gray);
}


.submit__footer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media (max-width: $tel) {
    row-gap: 12px;
  }
}

.submit__result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}


.submit__result-name {
  @include fontHelvetica(28px, 30px, $color-black);

  @media (max-width: $tablet) {
    @include fontHelvetica(24px, 26px, $color-black);
  }

  @media (max-width: $tel) {
    @include fontHelvetica(20px, 24px, $color-black);
  }
}

.submit__result-price {
  @include fontHelveticaBold(28px, 30px, $color-black);

  @media (max-width: $tablet) {
    @include fontHelveticaBold(24px, 26px, $color-black);
  }

  @media (max-width: $tel) {
    @include fontHelveticaBold(20px, 24px, $color-black);
  }
}

.submit__promo {
  position: relative;
}

.submit__promo-input {
  width: 100%;
  padding: 15px 150px 15px 20px;
  background-color: $color-white;
  border: 1px solid $color-gray;
  outline: none;

  @include fontHelvetica(16px, 21px, $color-black);

  &::placeholder {
    @include fontHelvetica(16px, 21px, $color-gray);
  }

  @media (max-width: $tablet) {
    padding: 15px 20px;
  }

  @media (max-width: $tel) {
    padding: 12px 16px;

    @include fontHelvetica(20px, 24px, $color-black);
  }
}

// .submit__promo-button {
//   position: absolute;
//   top: 1px;
//   right: 0;
//   padding: 15px 20px;
//   background-color: transparent;
//   border: none;

//   @include fontHelvetica(16px, 21px, $color-black);

//   &--hidden {
//     display: none;
//   }
// }

.submit__promo-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include fontHelveticaBold(16px, 21px, $color-black);

  &:focus-visible {
    outline-offset: 2px;
    outline: 1px solid $color-black;
  }

  &:hover {
    color: $color-gray;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.6;
    transition: 0.3s;
  }
}

.submit__promo-button-text {
  display: none;

  &--js {
    display: block;
  }

  @media (max-width: $tel) {
    &--js {
      display: none;
    }
  }
}

.submit__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px 20px;
  background-color: $color-black;
  border: none;
  cursor: pointer;

  @include fontHelvetica(16px, 21px, $color-white);

  &:disabled {
    color: $color-dark-gray;
    background-color: $color-gray;
    cursor: default;
  }

  &:focus-visible:not(:disabled) {
    outline-offset: 2px;
    outline: 1px solid $color-black;
  }

  &:hover:not(:disabled) {
    background-color: $color-dark-gray;
    transition: 0.3s;
  }

  &:active:not(:disabled) {
    opacity: 0.8;
    transition: 0.3s;
  }
}

.submit__politics {
  margin: 0;
  text-align: center;

  @include fontHelvetica(14px, 18px, $color-dark-gray);
}

.submit__politics-link {
  @include fontHelvetica(14px, 18px, $color-dark-gray);

  &:focus-visible {
    outline-offset: 2px;
    outline: 1px solid $color-black;
  }

  &:hover {
    color: $color-gray;
  }

  &:active {
    opacity: 0.8;
  }
}
