.user-menu {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;

  @media (max-width: $tel) {
    display: none;

    &--hidden {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      max-width: 100%;
    }
  }
}

.user-menu__item {
  position: relative;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tel) {
    width: 100%;
    margin-right: 0;
  }
}

.user-menu__link {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  text-decoration: none;

  @include fontHelvetica(10px, 8px, $color-white);

  &[href]:focus-visible {
    outline-offset: 2px;
    outline: 1px solid $color-black;
  }

  &[href]:active {
    opacity: 0.6;
    transition: 0.3s;
  }

  @media (max-width: $tel) {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px 16px;

    @include fontHelvetica(16px, 21px, $color-black);
  }
}

.user-menu__link svg {
  width: 100%;
  height: 100%;

  @media (max-width: $tel) {
    display: none;
  }
}

.user-menu__link > span.visually-hidden {
  @media (max-width: $tel) {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    white-space: wrap;
    clip-path: none;
    clip: none;
    overflow: visible;
  }
}

.user-menu__link:hover svg {
  fill: $color-dark-gray;
  stroke: $color-dark-gray;
  transition: 0.3s;
}

.user-menu__link:hover .user-menu__icon-bag {
  fill: $color-dark-gray;
  stroke: none;
  transition: 0.3s;
}

.user-menu__counter {
  position: absolute;
  top: -5px;
  right: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: $color-black;
  border-radius: 50%;

  @include fontHelvetica(10px, 8px, $color-white);

  @media (max-width: $tel) {
    display: none;
  }
}
